
h1 {
    color: #ff0000;
}
/* 
p {
    color: #ff3366;
    background-color:rgb(40, 40, 40);
}
*/

/*class tag starts with "."*/

footer {
    color: green;
}
.meep {
    color: cyan;
    background-color: black;
}

.orangebg {
    background-color: orange;
}

.spanstyle {
    color: darkviolet;
}


/*ID tag starts with #*/
#beep {
    color:darkorange;
    background-color: rgb(0, 85, 85);
}

a {
    background-color: rgb (35,35,35);
    text-decoration: none;
}

a:link {
color: green;
}

a:visited {
    color: rgb(0, 17, 255);
}

a:active {
    color: chartreuse;
}

a:hover {
    color: deepskyblue;
    text-decoration:underline;
}


/*IDs should only be used once per page (can have multiple IDs but only use each one once), classes can be used multiple times*/
