body {
   background-color: hsl(0, 0%, 60%);
    background-image: url(longbg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
 
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 3px solid black;
  padding: 1em;
  background-color:#333333; /*might add an image for the bg instead not sure yet*/
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
 box-shadow: 0 0 12px rgba(0,0,0,1);

}

header {
    margin:  -1em;
    padding-bottom: 10px;
    grid-column: span 12;
    grid-row: 1;
background-image: linear-gradient(to bottom, #5a0000, #900000, #d31010, #900000, #5a0000);
   border-bottom: 3px solid black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   
}


header h1 {
margin: 0;
font-family: "Goldman", sans-serif;
font-weight:800;
font-style:normal;
font-size: 48px;
letter-spacing: 4px;
color:black;
-webkit-text-stroke: 1px rgb(228, 228, 228);
text-shadow: 0 0 8px rgba(0,0,0,1); 
padding: 20px 0px 1px 0px;
list-style: none;
text-align: center;
}

header h2 {
margin: 0;        
  font-family: Arial, Helvetica, sans-serif; /*cooler font pending here too*/
  font-weight: bold;
  color: #ffe0e0; 
  text-shadow: 0 0 8px rgba(0,0,0,1);          
  font-size: 24px;
  letter-spacing: 1.5px;  
  text-align: center;

}

nav {
    margin-left: -1em;
    margin-right: -1em;
    margin-top: 16px;
    grid-column: span 12;
    grid-row: 2;
    padding: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

nav li {
  flex: 0 0 400px;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav li a {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    color: black;
    
   
    text-decoration: none;
   background-color: #333333;
     text-shadow:
    -1px -1px 0 #ffffff,
     1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #ffffff;
   width: 100%;
   transition: color 0.3s, text-shadow 0.3s, background-color 0.3s, width 0.3s, border-radius 0.3s, box-shadow 0.3s;
/* Kinda sad that there's no easy way to do the gradient but whatev */
}

nav li a:hover {
    color: black;
    text-shadow:
    -1px -1px 0 #d31010,
     1px -1px 0 #d31010,
    -1px  1px 0 #d31010,
     1px  1px 0 #d31010;
 background-color: #696969;
 width: 70%;
 border-radius: 40px;
 box-shadow: 0 4px 7px rgba(0,0,0,0.6);
}

.active {
    color: #d31010;
  text-shadow:
    -1px -1px 0 #5a0000,
     1px -1px 0 #5a0000,
    -1px  1px 0 #5a0000,
     1px  1px 0 #5a0000;
}

main { 
   grid-column: span 12;
   grid-row: 3;
   display: grid;
   grid-template-columns: 250px 1fr;  
  column-gap: 20px;
   margin: 16px 0 0 0;
   align-items: start;
}

.textcol h2 {
grid-column: 2;
  margin: 0 0 10px 0;
  font-family: "Goldman", sans-serif;
  font-weight: bolder;
  font-size: 32px;
  color: #d31010;
  -webkit-text-stroke: 1.5px #5a0000;
  text-shadow: 0 0 8px rgba(0,0,0,1);          
  letter-spacing: 1.5px;
  text-align: left;
}

.textcol p {
  grid-column: 2;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18;
  color: #ffffff;
}

.textcol {
  grid-column: 2;
  display: flex;
  flex-direction: column; 
  justify-content: start;
}

.floatimg {
 grid-column: 1;
  width: 230px;
  height: 308px;
  margin: 10px auto 0 auto;
  border: 5px solid #d31010;
  border-radius: 5px;
}


footer {
    grid-column: span 12;
    margin-left: -1em;
    margin-right: -1em;
    margin-bottom: -1em;
    margin: 40px -1em -1em -1em;
    padding: 20px 0;
 background-color: #000000;
    display: flex;
    align-items: center;
    justify-content:center;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px; /* space between links */
}

footer li {
    margin: 0;
}

footer li a{
    color: #ffffff;
font-size: 50px;
transition: color 0.2s;
}

footer li a:hover{

color: #d31010;
}