body {
background-color: darkgray;
}

#wrapper {
    background-color: white;
    border: 5px solid #27508f;
    width: 1200px;
    height: 1355px;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto 80px;
}

header {
    margin:  -1em;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 10px;
    grid-column: span 12;
background-image: linear-gradient(to bottom, #4d9eff, #3f8eef, #357fdd, #2b70cc, #1c4a94);
   border-bottom: 5px solid #27508f;

}

h1 {
margin-top: 0;

font-family: Arial, Helvetica, sans-serif;
font-weight: normal;
font-style: italic;
color:#77dfff;
padding: 0px 20px 2px 50px;
padding-top: 20px;
list-style: none;
}

h1 a {
  color: inherit;
  text-decoration: none;
 
}

h1 a:visited {
  color: inherit;
  text-decoration: none;
}

h1 a:hover {
  color: white;
  text-decoration: none;
}

nav {
    margin: 0;
    grid-column: span 12;
    grid-row: 1;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  gap: 5px;
}

nav li {
  flex: 1;
  margin: 0;
}

nav li a {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #77dfff;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 40px; 
  padding: 0 0 0 50px;
  background-image: linear-gradient(to bottom, #4d9eff, #3f8eef, #357fdd, #2b70cc, #1c4a94);
}

nav li a:hover {
    color: white;
  background-image: linear-gradient(to top, #4d9eff, #3f8eef, #357fdd, #2b70cc, #1c4a94);
}

.active {
    color: white;
}

main { 
   grid-column: span 12;
   grid-row: 2;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin: 16px 0 0 0;
   align-items: stretch;
}

main a {
    font-weight: bold;
    text-decoration: none;
}

main a:link {
color: red;
}

main a:visited {
    color: red;
}

main a:hover {
    color: blue;
    text-decoration:underline;
}

.seca {
    grid-row: 1;
grid-column: 1;
padding: 20px 20px 20px 0px;
}

.secb {
    grid-row: 1;
grid-column: 2;
padding: 20px 20px 20px 0px;
}

.secc {
    grid-row: 1;
grid-column: 3;
padding: 20px 20px 20px 0px;
}

h2 {
font-family: Arial, Helvetica, sans-serif;
color:#27508f;
border-bottom: 3px solid #27508f;
font-size: 28px;
font-weight:500;
padding-bottom: 10px;
margin: 0;
margin-bottom: 20px;
}


.floatimg {
float: center;
margin-bottom: 20px;
}

.clearfloat {
    clear: both;
}

footer {
    margin: -1em;
    border-top: 5px solid #27508f;
    background-color: #D50032;
    grid-column: span 12;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

footer img {
    margin-left: 20px;
}