a:link {
color: red;
}

a:visited {
    color: green;
}

a:active {
    color: blue;
}

a:hover {
    color: yellow;
    text-decoration:underline;
}


h1 {
    color:darkblue;
    background-color: cyan;
}

.dablues {
color: blue;
background-color: cyan;
}

.spanstyle {
    color: limegreen;
}

#greens {
    color:chartreuse;
    background-color: darkgreen
}