body {
   background-color: #333333;
    background-image: url(longbg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
 
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 3px solid black;
  padding: 1em;
  background-color:#333333; 
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
 box-shadow: 0 0 12px rgba(0,0,0,1);

}

header {
    margin:  -1em;
    padding-bottom: 10px;
    grid-column: span 12;
    grid-row: 1;
background-image: linear-gradient(to bottom, #5a0000, #900000, #d31010, #900000, #5a0000);
   border-bottom: 3px solid black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   
}


header h1 {
margin: 0;
font-family: "Goldman", sans-serif;
font-weight:800;
font-style:normal;
font-size: 48px;
letter-spacing: 4px;
color:black;
-webkit-text-stroke: 1px rgb(228, 228, 228);
text-shadow: 0 0 8px rgba(0,0,0,1); 
padding: 20px 0px 1px 0px;
list-style: none;
text-align: center;
}

header h2 {
margin: 0;        
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  color: #ffe0e0; 
  text-shadow: 0 0 8px rgba(0,0,0,1);          
  font-size: 24px;
  letter-spacing: 1.5px;  
  text-align: center;

}

nav {
    margin-left: -1em;
    margin-right: -1em;
    margin-top: 16px;
    grid-column: span 12;
    grid-row: 2;
    padding: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

nav li {
  flex: 0 0 400px;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav li a {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 60px;
    font-family: "Kanit", sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    color: black;
    
   
    text-decoration: none;
   background-color: #333333;
     text-shadow:
    -1px -1px 0 #ffffff,
     1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #ffffff;
   width: 100%;
   transition: color 0.3s, text-shadow 0.3s, background-color 0.3s, width 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

nav li a:hover {
    color: black;
    text-shadow:
    -1px -1px 0 #d31010,
     1px -1px 0 #d31010,
    -1px  1px 0 #d31010,
     1px  1px 0 #d31010;
 background-color: #696969;
 width: 70%;
 border-radius: 40px;
 box-shadow: 0 4px 7px rgba(0,0,0,0.6);
}

.active {
    color: #d31010;
  text-shadow:
    -1px -1px 0 #5a0000,
     1px -1px 0 #5a0000,
    -1px  1px 0 #5a0000,
     1px  1px 0 #5a0000;
}

main {
    grid-column: span 12;
    display: grid;
    grid-template-columns: 300px 1fr; 
    column-gap: 20px;
    margin: 16px 20px 0 20px;
    align-items: start;
}


.floatimg {
 grid-column: 1;
  width: 276px;
  height: 370px;
  margin: 10px 0 0 0;
  border: 5px solid #d31010;
   border-radius: 15px;
      overflow: hidden;
      object-fit: cover;
}

.floatimg2 {
    grid-column: 1;  
    width: 300px;
    height: 300px;
    margin: 10px 0 0 0;
    border: 5px solid #d31010;
    border-radius: 15px;
      overflow: hidden;
      object-fit: cover;

}

.textcol {
    grid-column: 2;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.textcol h2 {
    margin: 0 0 10px 0;
    font-family: "Goldman", sans-serif;
    font-weight: bolder;
    font-size: 38px;
    color: #d31010;
    -webkit-text-stroke: 1.5px #5a0000;
    text-shadow: 0 0 8px rgba(0,0,0,1);          
    letter-spacing: 1.5px;
    text-align: left;
}

.textcol p {
    margin-top: 10px;
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    color: #ffffff;
}

main h2 {
    grid-column: 1 / -1; 
    text-align: center;
    margin: 20px 0 10px 0;
    font-family: "Goldman", sans-serif;
    font-weight: bolder;
    font-size: 38px;
    color: #d31010;
    -webkit-text-stroke: 1.5px #5a0000;
     text-shadow: 0 0 8px rgba(0,0,0,1);          
    letter-spacing: 1.5px;
}

main h3 {
    grid-column: 1 / -1; 
    text-align: center;
    margin: 20px 0 10px 0;
    font-family: "Goldman", sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #696969;
    -webkit-text-stroke: 1.5px #cfcfcf;
     text-shadow: 0 0 8px rgba(0,0,0,1);          
    letter-spacing: 1.5px;
}

main p{
     grid-column: 1 / -1; 
    text-align: justify;
     margin-top: 10px;
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    color: #ffffff;
    font-family: "Kanit", sans-serif;
    letter-spacing: 0.2px;
      text-shadow: 0 0 8px rgba(0,0,0,1);          

   
}

main a{
    color: #909090;
   -webkit-text-stroke: 0;
text-decoration: none;
     -1px -1px 0 #cfcfcf,
     1px -1px 0 #cfcfcf,
    -1px  1px 0 #cfcfcf,
     1px  1px 0 #cfcfcf;
transition: color 0.3s, text-shadow 0.3s;
}
main a:hover {
    color: black;
    text-shadow:
    -1px -1px 0 #d31010,
     1px -1px 0 #d31010,
    -1px  1px 0 #d31010,
     1px  1px 0 #d31010;
    -webkit-text-stroke: 0;

}


footer {
    grid-column: span 12;
    margin-left: -1em;
    margin-right: -1em;
    margin-bottom: -1em;
    margin: 40px -1em -1em -1em;
    padding: 20px 0;
 background-color: #000000;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0 75px 0 0;
    display: flex;
    gap: 30px; 
}

footer li {
    margin: 0;
}

footer li a{
    color: #ffffff;
font-size: 50px;
transition: color 0.2s;
}

footer li a:hover{
text-shadow: 0;
color: #d31010;
-webkit-text-stroke: 0;
}

footer img{
width: 230.4px;
height: 96px;
align-items:flex-start;
margin: -50px 0 -50px 75px;
}

.carousel-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.f-carousel {
  position: relative;
  grid-column: 1 / -1;
  margin: 0 auto;
  width: fit-content;
  max-width: 625px;

   --f-arrow-pos: -115px;
  --f-arrow-width: 65px;
  --f-arrow-height: 65px;

  --f-arrow-svg-width: 32px;
  --f-arrow-svg-height: 32px;
  --f-arrow-svg-stroke-width: 2.5;

  --f-arrow-color: #ffffff;
  --f-arrow-shadow: 0 6px 12px -2px rgba(0, 0, 0, 0.25), 0 3px 7px -3px rgb(0 0 0 / 30%);

  --f-arrow-border-radius: 50%;
  --f-arrow-bg: rgba(99, 99, 99, 0.25);
  --f-arrow-hover-bg: rgba(99, 99, 99, 0.85);;
}

.f-carousel__slide {
  display: flex;
  justify-content: center; 
  align-items: center;

}


.f-carousel__slide img {
  width: 100%;
  height: auto;
  display: block;
}

