body {
background-image: url(a62.png);
}

#wrapper {
    background-color: white;
    border: 3px solid black;
    width: 1000px;
    margin: 1em auto;
    padding: 1em 1em 0 1em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr auto;
}

header {
    grid-column: span 5;
    padding: 0;
}

h1 {
margin-top: 0;

font-family: Arial, Helvetica, sans-serif;
font-weight: normal;
color: white;
background-color: black;
padding: 20px;
}

nav {
    grid-column: span 1;
    grid-row: 2;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav li {
  width: 200px;
  margin-bottom: 15px;
  margin-right: 15px;
  background-color: red;
  display: block;
}

nav li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
  
}

nav li a:hover{
  background-color: darkred;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
border-bottom: 3px solid black;
padding-bottom: 15px;
margin: 0;
margin-bottom: 20px;
}

.text1 {
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.text2 {
    text-align: justify;
}

.floatimg {
float: left;
padding: 12px;
margin-right: 20px;
margin-bottom: 20px;
border: 3px solid black;
}

.clearfloat {
    clear: both;
}

main { 
    grid-column: span 4;
   grid-row: 2;
}

main a {
    font-weight: bold;
    text-decoration: none;
}

main a:link {
color: red;
}

main a:visited {
    color: red;
}

main a:hover {
    color: blue;
    text-decoration:underline;
}

footer {
    margin: 0 -1em;
    padding-left: 50px;
    padding-right: 50px;    
    border-top: 3px solid black; 
    background-color: red;
    grid-column: span 5;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-align: center;
}